{% extends 'base.html' %}
{% block content %}
<div class="container mx-auto px-4 py-8 mt-16">
    <div class="flex justify-between items-center mb-6">
        <h2 class="text-3xl font-semibold text-white">Список студентов</h2>

        <form method="get" action="{% url 'student_list' %}" class="font-semibold text-gray-400">
            <select name="course" class="form-control w-64 pl-4 pr-10 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-slate-950"
                    onchange="this.form.submit()">
                <option value="">Все курсы</option>
                {% for course in courses %}
                    <option value="{{ course.id }}" {% if request.GET.course == course.id|stringformat:"s" %}selected{% endif %}>
                        {{ course.title }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% for student in students %}
            <a href="{% url 'student_detail' student.pk %}" class="block bg-gray-900 p-4 rounded-lg shadow-md hover:bg-gray-600 transition duration-300 hover:scale-105">
                <h3 class="text-lg font-semibold text-white">{{ student.first_name }} {{ student.last_name }}</h3>
                <p class="text-gray-400 mt-2 text-sm">{{ student.email }}</p>
            </a>
        {% empty %}
            <p class="text-gray-400 text-center col-span-4">Студентов пока нет.</p>
        {% endfor %}
    </div>

<div class="flex justify-center mt-6">
    <div class="inline-flex items-center space-x-2 bg-gray-900 text-white px-4 py-2 rounded-lg shadow-md">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="px-3 py-1 bg-gray-900 rounded-md hover:bg-gray-700 transition"><span class="text-lg">&larr;</span></a>
        {% endif %}

        <span class="px-4 py-2 bg-gray-900 rounded-md font-semibold">
            Страница - {{ page_obj.number }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="px-3 py-1 bg-gray-900 rounded-md hover:bg-gray-700 transition"><span class="text-lg">&rarr;</span></a>
        {% endif %}
    </div>
</div>

</div>
{% endblock %}
